.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid rgb(151, 7, 132);
  /* Margin-bottom Puts gaps between the posted images */
  margin-bottom: 45px;
}

.post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid rgb(151, 7, 132);
  border-bottom: 1px solid rgb(151, 7, 132);
}

/* font-weight:normal changes the h4 from bold to normal text */
.post_text {
  font-weight: normal;
  padding: 20px;
}

/* display: flex puts two elements in a container into a single row */
.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post_avatar {
  margin-right: 10px;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}

/* When you have two children classNames under a parent className, you can set size priority by assigning 1 or 0 */
.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0;
  color: lightgreen;
  background-color: transparent;
  border: none;
  border-top: 1px solid lightgray;
}
